        :root {
            --white: #ffffff;
            --black: #000;
            --crema: #FAD6A5;
            --verde-claro: #9BA17B;
            --verde-oscuro: #61764B;
            --verde-agua: #CFB997;
            --font: 'Montserrat', sans-serif;
            --sm: 1.4rem;
            --md: 1.6rem;
            --lg: 1.8rem;
            --tt: 5rem;
        }
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        html {
            font-size: 62.5%;
        }
        body {
            background-color: var(--black);
        }
        .inactive {
            display: none;
        }
        
        /* Portada */
        .seccion-portada {
            height: 43vh;
            width: 100%;
        }
        .portada {
            width: 100%;
            height: 43vh;/* 80vh en 1920*1080 */
            overflow: hidden;
        }
        .imagen-portada {
            width: 100%;
            height: fit-content;
        }
        .imagen-portada figure img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .titulo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 375px;
            height: 6rem;
            font-family: var(--font);
            font-size: 6rem;
            color: var(--white);
            position: absolute;
            top: 33%;
            left: 0;
            padding: 0 50px;
        }
        
        /* Navbar */
        .detek {
            display: flex;
            justify-content: flex-start;
            height: 6.5rem;
            color: var(--white);
            align-items: center;
            font-family:var(--font);
            font-size: 2rem;
        }
        .menu {
            position: fixed;
            display: flex;
            width: 100%;
            z-index: 2;
            background-color: var(--black);
            justify-content: end;
            justify-content: space-between;
            align-items: center;
        }
        .seccion-logo {
            margin-left: 1rem;
            display: flex;
        }
        .logo {
            height: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px;
        }
        .line1, .line2 {
            height: 0.3rem;
            width: 1.6rem;
            background-color: var(--white);
        }
        .seccion-navbar {
            display: flex;/* flex */
            justify-content: end;
        }

        .contenedor-navbar {
            width: auto;
            height: 6.5rem;        
        }    
        
        .logo p {
            color: var(--white);
            font-size: 3rem;
            font-family: 'M PLUS 1p', sans-serif;
            align-items: center;
            display: flex;
            letter-spacing: -0.1rem;
        }
        p .k {
            width: 100%;
            height: 100%;
        }
        .k {
            transform: rotateY(180deg);
        }
        
        .menu-hamburguesa {

            display: flex;
            width: 4rem;
            height: 3rem;
            margin-right: 2rem;
        }
        .seccion-navbar ul{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: var(--black);
            height: 6.5rem;
            font-family: var(--font);
            font-size: var(--sm);
            letter-spacing: 3px;
            font-weight: bold;
        }
        .navbar-menu {
            display: flex;
            justify-content: space-between;
            margin-right: 2rem;
        }
        .navbar-menu a{
            list-style: none;
            text-decoration: none;
            border-right: 1px solid var(--verde-claro);
            padding-right: 0.5rem;
            color: var(--verde-oscuro);

        }
        .menu .navbar-menu a:hover {
            background-color: none;
            color: var(--verde-claro);
        }
        /* navbarmobilemenu */

        .contenedor-mobile {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;/* cambios para fusion */;
            border: 30px;
            height: 500px;
            margin-top: 6.5rem;
        }

        .menu-mobile {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: var(--black);
            width: 100%;
            align-items: flex-end;
            padding-right: 2rem;
        }
        .menu-mobile a{
            position: relative;
            list-style: none;
            text-decoration: none;
            padding-right: 0.5rem;
            color: var(--verde-oscuro);
            cursor: pointer;
            font-size: var(--sm);
            letter-spacing: 3px;
            font-weight: bold;
            margin-bottom: 3rem;
            font-family: var(--font);
        }
        .menu-mobile a:before,
        .menu-mobile a:after {
            content: "";
            position: absolute;
            height: 3px;
            width: 0;
            background: var(--verde-oscuro);
            transition: .5s;
        }
        .menu-mobile a:after {
            left: 0;
            bottom: -10px;
        }
        .menu-mobile a:before {
            right: 0;
            top: -10px;
        }
        .menu-mobile a:hover:after,
        .menu-mobile a:hover:before {
            width: 100%;
        }
        /* Contenido */
        .subtitulo {
            margin-top: 5rem;
            display: flex;
            justify-content: center;
            text-align: center;
            font-family: var(--font);
            font-size: 2rem;
            color: var(--verde-claro);
        }
        /* Presentacion */
        .presentacion {
            width: 100%;
            height: fit-content; /* 793px;/* estaba 600px */
            
            margin-top: 5rem;
            background-color: rgb(29, 29, 29);
            border-radius: 82% 18% 49% 51% / 43% 79% 21% 57% ;
            justify-content: space-around;
        }
        .imagen-presentacion {
            width: 100%;/*530px;/* 600px */
            height: fit-content;
            display: flex;
        }
        .imagen-presentacion img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20% 100% 49% 51% / 100% 22% 78% 0% ;

        }
        .presentacion p{
            height: fit-content;
            width: 90%;/* 500px; */
            padding: 1rem 2rem;
            font-size: var(--sm);
            font-family: var(--font);
            color: var(--white);
            border-right: 1px solid var(--verde-claro);
        }
        .empresa-info {
            width: 100%;
            height: fit-content;
        }
        /* Contactanos */
        .contactanos {
            width: 100%;
            height: 300px;/*395px; 500px */
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;

        }
        .contactanos img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            opacity: 0.6;
            
        }
        .contactanos p {
            font-size: 2rem;/* 3rem; 6rem */
            font-weight: bolder;
            color: var(--white); 
            position: relative;
            z-index: 1;
            width: fit-content;
            height: fit-content;
            background: rgb(255,255,255);
            background: linear-gradient(0deg, rgba(255,255,255,0.5472008627669818) 0%, rgba(97,118,75,0.5275930196297269) 100%);
            font-family: var(--font);
            border-radius: 8px;
            box-shadow: inset 0 0 0 0 var(--verde-claro);
            transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
            }

        .contactanos p:hover {
            box-shadow: inset 500px 0 0 0 var(--verde-claro) ;
            color: white;
            cursor: pointer;           
        }
         /* Footer */
        .container-footer {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 50rem;
            margin-bottom: 0.5rem;
            
        }
        footer {
            width: 100%;
            display: flex;
            justify-content: center;
            border-top: 1px solid rgb(100, 98, 98);
        }

        /* Redes */
        .redes {
            width: 375px;
            display: flex;
            justify-items: center;
            margin-top: 2.5rem;
            flex-direction: column;
            align-items: center;
        }
        .span-seguinos {
            font-family: var(--font);
            font-size: 1.2rem;
            color: var(--white);
        }
        .redes .social-icons {
            display: flex;
            justify-content: center;
            margin-top: 1rem;
            width: 100px;
        }
        .redes ul li a {
            display: flex;
            justify-content: center;
            align-content: space-between;
            width: 3rem;
            height: 3rem;
            margin-right: 5px;
        }
        .facebook img {
            background-color: #4f60ff;/* 6EDF44 codigo de color de los iconos */
        }
        ul li {
            text-decoration: none;
            list-style: none;
        }
        ul li img{
            border-radius: 50%;
        }
        

        /* Derechos */
        .derechos {
            background-color: var(--black);
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.2rem;
            color: var(--white);
            font-family: var(--font);
            width: 100%;
            justify-content: space-around;
        }
        .copyright {
            height: 6rem;
            width: 58%;
            display: flex;
            flex-direction: column;
            justify-content: baseline;
        }
        .copyright p {
            width: 100%;
            text-align: center;
        }

        /* contacto-footer */
        .contact {
            display: flex;
            flex-direction: column;
            color: var(--white);
            font-size: 1.2rem;
            font-family: var(--font);
            margin-top: 20px;
            width: 100%;
            padding-left: 3rem;
        }
        .telefonos p {
            margin-top: 1rem;
        }
        
        @media (max-width: 375px ) {/* hasta 375px pasa esto */
            .detek {
                display: none;
            }
            
        }
        @media (min-width: 376px ) {/* dwesde 375px pasa esto */
            .subtitulo{ 
                font-size:3rem;
            }
            .contactanos {
                height: 350px;
            }
            .copyright {
                width: 80%;
            }
        }
        @media (min-width: 781px) {/* desde 781px pasa esto */
            
            .subtitulo{ 
                font-size:var(--tt);
            }
            .presentacion p {
                width: 90%;
                padding: 2rem;
                font-size: var(--lg);
            }
            .presentacion {
                display: flex;
            }
            .imagen-presentacion {
                width: 920px;
                height: 600px;
            }
            .empresa-info {
                width: 550px;
                height: fit-content;
            }
            .contactanos {
                height: 750px;
            }
            .contactanos p {
                font-size: var(--tt);
            }
            .container-footer {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                justify-content: space-between;
                height: 20rem;
                width: 100%;
            }
            .redes {
                height: 100%;
                width: 100%;
                justify-items: center;
            }
            .derechos .logo p {
                font-size: var(--tt);
            }
            .derechos .line1,
            .derechos .line2 {
            height: 0.5rem
            }
        }
        @media (min-width:959px) {
            .menu-hamburguesa {
                display: none;
            }
            .contenedor-mobile {
                display: none;
            }
            .span-seguinos,
            .copyright,
            .telefonos {
                font-size: var(--md);
            }
        }
        @media (max-width: 960px) {
            .seccion-navbar ul {
                display: none;
            }
        }
        
    